# Preprocessing

In [1]:
# Imports
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score
import seaborn as sns

In [2]:
pre = True

In [3]:
if pre:
    link = "data/2021_Alumnos_pre_normalizadas.csv"
else:
    link = "data/2021_Alumnos_post_normalizadas.csv"
data = pd.read_csv(link)
data.head()

,Curso,Nivel,Codigo,Edad,Genero,Decision,Otros_campus,Ingenieria_antes,Valoracion_ingenierias,Dedicacion,...,Interes_asignaturas,Salida_profesional,Actividades_instituto,Dificultad_asignaturas,Trabajo,Respeto_cientificos,Efecto_vidas,No_gustar,Examenes,Decisiones_personales
0,AUTOMATIZACION,SENIOR,108472,13,Chico,Yo,No,No sé,Buena,NaN,...,3,3,4,2,3,3,4,2,1,4
1,AUTOMATIZACION,SENIOR,612000,14,Chica,"Yo, Mis padres",No,No sé,Buena,NaN,...,4,4,4,1,3,3,5,1,1,5
2,AUTOMATIZACION,SENIOR,812078,15,Chico,Mis amigos,No,Sí,Buena,NaN,...,5,5,4,4,5,5,5,2,4,5
3,AUTOMATIZACION,SENIOR,902236,14,Chica,Yo,"2017, 2018, 2019, 2020 (online)",Sí,Buena,NaN,...,4,4,4,3,3,4,4,1,3,4
4,AUTOMATIZACION,SENIOR,1107000,16,Chico,Mis padres,No,No sé,Me da igual,NaN,...,3,3,3,3,3,3,3,3,3,3

In [4]:
data.columns

Index(['Curso', 'Nivel', 'Codigo', 'Edad', 'Genero', 'Decision',
       'Otros_campus', 'Ingenieria_antes', 'Valoracion_ingenierias',
       'Dedicacion', 'Trabajo_padre', 'Trabajo_madre', 'Posicion_clase',
       'Tipo_estudiante', 'Gustar', 'Estudiar', 'Entender', 'No_entender',
       'Profesional', 'Actividades', 'Carrera', 'Facilidad', 'Disfrutar',
       'No_trabajo', 'Mundo_mejor', 'Interes_asignaturas',
       'Salida_profesional', 'Actividades_instituto', 'Dificultad_asignaturas',
       'Trabajo', 'Respeto_cientificos', 'Efecto_vidas', 'No_gustar',
       'Examenes', 'Decisiones_personales'],
      dtype='object')

## Calculate Dimensions

### Fix Negative variables

In [5]:
data.No_gustar = 6 - data.No_gustar
data.Profesional = 6 - data.Profesional
data.No_trabajo = 6 - data.No_trabajo
data.No_entender = 6- data.No_entender
data.Dificultad_asignaturas = 6 - data.Dificultad_asignaturas
data.Examenes = 6 - data.Examenes

In [6]:
data["Gusto"] = data[["Gustar", "Actividades", "Disfrutar", "Interes_asignaturas", "Actividades_instituto", "No_gustar"]].mean(axis=1)
data["Interes_profesional"] = data[["Estudiar", "Profesional", "Carrera", "No_trabajo", "Salida_profesional", "Trabajo"]].mean(axis = 1)
data["Autoeficacia"] = data[["No_entender", "Facilidad", "Dificultad_asignaturas", "Examenes"]].mean(axis = 1)
data["Utilidad"] = data[["Entender", "Mundo_mejor", "Respeto_cientificos", "Efecto_vidas", "Decisiones_personales"]].mean(axis = 1)

In [7]:
data.describe()

,Codigo,Edad,Dedicacion,Gustar,Estudiar,Entender,No_entender,Profesional,Actividades,Carrera,...,Trabajo,Respeto_cientificos,Efecto_vidas,No_gustar,Examenes,Decisiones_personales,Gusto,Interes_profesional,Autoeficacia,Utilidad
count,5.730000e+02,573.000000,0.0,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,...,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000
mean,4.903353e+07,13.354276,NaN,4.230366,3.998255,4.439791,4.352531,3.846422,3.415358,3.893543,...,3.406632,3.900524,4.139616,4.422339,3.425829,4.052356,4.071553,3.778069,3.704188,4.222339
std,5.593143e+08,2.185890,NaN,0.860549,1.041951,0.739936,0.830777,1.154563,1.133675,1.108223,...,1.164942,0.854165,0.845422,0.942206,1.217657,0.924066,0.792361,0.894791,0.739861,0.590534
min,0.000000e+00,8.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.028360e+05,12.000000,NaN,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,3.666667,3.166667,3.250000,4.000000
50%,1.701657e+06,14.000000,NaN,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.000000,...,3.000000,4.000000,4.000000,5.000000,3.000000,4.000000,4.166667,3.833333,3.750000,4.200000
75%,2.409000e+06,15.000000,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,...,4.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.666667,4.500000,4.250000,4.600000
max,8.012011e+09,17.000000,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

## Reduce Dataset

In [8]:
if pre:
    data_red = data[['Codigo', 'Edad', 'Nivel', 'Genero', 'Gusto', 'Interes_profesional', 'Autoeficacia', 'Utilidad']]
else:
    data_red = data[['Codigo', 'Nivel', 'Genero', 'Gusto', 'Interes_profesional', 'Autoeficacia', 'Utilidad']]
data_red

,Codigo,Edad,Nivel,Genero,Gusto,Interes_profesional,Autoeficacia,Utilidad
0,108472,13,SENIOR,Chico,3.833333,3.166667,4.25,3.8
1,612000,14,SENIOR,Chica,4.166667,3.500000,4.75,4.6
2,812078,15,SENIOR,Chico,4.166667,4.833333,3.00,4.8
3,902236,14,SENIOR,Chica,4.333333,3.666667,3.50,4.0
4,1107000,16,SENIOR,Chico,3.000000,3.000000,3.00,3.0
...,...,...,...,...,...,...,...,...
568,2101024,15,SENIOR,Chica,4.833333,4.166667,4.25,4.2
569,2703000,13,SENIOR,Chico,4.000000,3.166667,3.75,3.8
570,2908377,13,SENIOR,Chico,3.333333,2.000000,2.50,4.0
571,2912000,12,SENIOR,Chico,4.666667,4.000000,3.75,4.4
572,3008623,15,SENIOR,Chica,4.333333,4.333333,3.00,4.8

In [9]:
if pre:
    data_red.to_csv("data/2021_Alumnos_pre_red.csv", index = False)
else:
    data_red.to_csv("data/2021_Alumnos_post_red.csv", index = False)